# Peer-graded Assignment

Welcome to my notebook!

In this, I'll work on my final assignment, which will be graded by my peers.

Let's get started!

Data-Science languages
1. Pyhton
2. R
3. SQL
4. Julia
5. JAVA
6. Scala
7. MATLAB

Data-Science libraries

1. **NumPy**
2. **Pandas**
3. **Matplotlib**
4. **Seaborn** 
5. **Scikit-learn**
6. **TensorFlow** 
7. **PyTorch**

**Data Science Tools**

| Category               | Tool                   |
|------------------------|------------------------|
| **Programming Languages** | Python               |
|                         | R                    |
|                         | SQL                  |
| **Libraries**           | NumPy                |
|                         | Pandas               |
|                         | Matplotlib           |
|                         | PyTorch              |
| **Visualization**       | Tableau              |
|                         | Power BI             |
| **Database Systems**    | MySQL               |
|                         | PostgreSQL          
|                         | MongoDB             |

**Arithmetic Expression Examples**

a = 6
b = 2

- addition= a+b
    (Output = 8)

- subtraction= a-b
    (Output = 4)
- Multiplication = a*b
    (Output = 12)
- Division = a/b
    (Output = 3)

In [18]:
a= 5
b= 2
Add = a+b
Multiply = a*b
print('Addition: ', Add,' \n ', 'Multiplication: ',Multiply)

Addition:  7
  Multiplication:  10

In [17]:
# Convert Minutes to Hours

minutes = int(input('Enter minutes here'))
hours = minutes / 60
print(minutes,  " minutes is equal to ", hours  ," hours.")

Enter minutes here 120

120  minutes is equal to  2.0  hours.

**Objectives**

In this notebook, our main objectives are:

- **Explore Arithmetic Expressions:** Basic arithmetic expressions involving addition, subtraction, multiplication, and division.

- **Convert Units:** Converting minutes to hours as an example.

- **Introduce Data Science Tools:** List of common programming languages, libraries, and tools used in the field of data science.

# Author

This notebook was created by [Vaibhav Bhatt].